section{
  min-height: 100vh;
  max-width: 99vw;
}

#welcome{
  background-image: url('../img/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  /*margin-bottom: -20px;*/
}

#lead-copy{
  color:#d81818;
}

#form-cta{
  background-color: #d81818;
  color: #fff;
  margin-top: 10%;
}

a{
  text-decoration: none;
}
