/* ESTILOS GLOBALES
-------------------------------------------------- */




/* CLASES PERSONALIZADAS
-------------------------------------------------- */

/* Clase para las etiquetas del formulario */
.formLabel {
  font-size:16px;
  text-align: left;
 }

 /* Clase para las etiquetas del formulario */
.breads {
  text-align: left;
 }
 
 .spacesForm {
    margin-bottom: 1px;
    margin-top: 11px;
 }
 
 .alert {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control-btn {
	background-color: #8cb85c !important; 
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

 
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
